.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.icons {
  text-align: center;
  /* This will determine the size of the icon, i know its weird but this is how it works */
  font-size: 2rem; 
}

.icon {
  margin: 1rem;
  transition: all 100ms ease-in;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}